:root {
    --color-white: #fff;
    --color-black: #000;
    --color-grey: #6c757c;
    --color-link: #106fde;
}
* {
    padding: 0;
    margin: 0;
    text-decoration: unset;
    box-sizing: border-box;
    line-height: 1;
}
ul,ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    background-color: var(--color-white);
    font-size: 15px;
    font-weight: 500;
    color: var(--color-black);
    line-height: 1;
}
.container {
    width: 85%;
    margin: 0 auto;
}

.header {
    padding: 10px 5px;
    background-color: #Dededd;
}
.header-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header_logo {
    width: 100px;
}
.header_menu {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
}
.btn_download{
    border: 2px solid var(--color-link);
    background-color: var(--color-link);
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}
.main-menu {
    display: flex;
    flex-wrap: wrap;
}
.main-menu li {
    padding: 15px;
}
.main-menu li a {
    font-weight: 600;
}
.main-menu li a:hover{
    color: #E05776;
}


.ib4 {
    padding: 100px 0;
}
.in4_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
img {
    width: 100%;
}
.title_1 {
    text-transform: uppercase;
    color: var(--color-grey);
    margin-bottom: 5px;
}
.title_2 {
    font-size: 18px;
    margin-bottom: 10px;
}  
.form-send {
    max-width: 300px;
    box-shadow: 0 0 5px ;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    border-top: 4px solid var(--color-link);
    border-bottom: 4px solid var(--color-link);
    text-align: center;
}
.form-group textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    margin-top:20px;
}
.form-group .form-control {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    margin-top:20px;

}
.form-send button {
    background-color: var(--color-link);
    color: #fff;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
}

.col {
    width: calc(100% / 3);
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.box-provide {
    background-color: #Dedcdd;
    padding: 100px 0;
}
.box-provide-wrap {
    text-align: center;
}
.title {
    font-weight: 700;
    color: #38475a;
    font-size: 24px;
    padding: 20px 0;
}
.desc {
    color: #a8a6b2;
    max-width: 500px;
    margin: 0 auto;
    font-size: 12px;
    padding: 20px 0;
}
.item {
    background-color: #fff;
    padding: 30px 15px;
    border-radius: 10px;
    border-bottom: 4px solid #fff;
}
.icon {
    max-width: 50px;
    margin: 0 auto;
}
.link-more a {
    color: #1170de;
    margin: 15px 0;
}
.item:hover {
    border-bottom-color: var(--color-link);
}

.title_video {
    font-size: 24px;
    padding-bottom: 15px;
}
.desc_video{
    padding-bottom: 15px;
}

.item_video{
    background-color:var(--color-link);
}
.box-video{
    background-color:var(--color-link) ;
    padding: 130px 0;
    position: relative;
}
.bg-img{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.bg-img img{
    height: 100%;
}
.box-video-wrap{
    width: 50%;
    color: var(--color-white) ;
}


.box-plan{
    background-color: #fff;
    padding: 100px 0;
}
.box-plan-wrap .title{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #626262;
}
.box-plan-wrap .desc{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    color: #626262;

}
.thumbnail{
    position: relative;
    height: 200px;
}
.thumbnail img{
    height: 100%;
}
.box-plan-wrap .item{
    box-shadow: 0 0 5px 0;
    border-radius: 5px;
    border-bottom: 4px solid #fff;
    margin-bottom: 20px;
}
.box-plan-wrap .item:hover {
    border-bottom-color: var(--color-link);
}
.box-plan-wrap .item .thumbnail .title{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--color-white) ;
    background-color: rgba(0,0,0, 0.4);
}
hr{
    background-color: #fff;
    height: 1px;
    margin-top:10px;
    margin-bottom:10px;

}
.note{
    padding: 10px;
}
.note li{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid red;
}

.link-start{
    padding: 0 20px 20px;
    color: var(--color-link);
    font-weight: 600;
    font-size: 16px;
}

/*show_slide*/
.show-slide{
    background-color: #F3F6F9;
    padding: 100px 0;
}
.show-slide .icon{
    max-width: 50px;
    margin: 0 auto;
}
.show-slide-wrap{
    max-width: 500px;
    margin: 0 auto;
}
/* end show_slide*/


.box-faq img{
    position: relative;
    height: 400px;
}
.box-faq{
    position: relative;
}
.box-faq .row-faq{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    top: 0;
    position: absolute;

}
.row-faq{
    width: 80%;
    justify-content: space-between;
}
.list-faq .question {
    background-color: var(--color-white);
    padding: 10px;
    border-radius: 5px;
    margin-top:5px;
}
.list-faq .ans{
    display: none;
}

.form-ask{
    background-color: #fff;
    max-width: 400px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
}
.form-ask .title{
    border-bottom: 1px solid #ccc;
    color: #5C6979;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;

}
.form-ask .desc{
    color: #9C9FAF;
    padding: 30px 0;
}
.form-ask .link{
    display: block;
    width: 100%;
    background-color: var(--color-link);
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px;
}

.col-3{
    width: calc(100% / 4);
    padding: 0 10px;
}
.box-press{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
.box-press .item{
    max-width: 190px;
    margin: 20px auto;
}
.box-contact{
    padding: 100px 0;
    background-color: #fff;
}
.box-contact .title{
    color: #3B4A5E;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.box-contact hr{
    max-width: 50px;
    margin: 10px auto;
    border: 0;
    height: 2px;
    background-color: var(--color-link);
}
.box-contact .desc-1{
    color: #3B4A5E;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.box-contact .desc-2{
    color: #9C9FAF;
    max-width: 600px;
    margin: 10px auto;
    text-align: center;
}
.col-6{
    width: 50%;
    padding: 0 15px;
}
.contact-wrap label{
    color: #3B4A5E;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}
.contact-wrap .form-group{
    margin-bottom: 10px;
}
.contact-wrap .form-group input{
    width: 100%;
    height: 35px;
    padding: 0 10px;
    border: 1px solid #ccc;
}
.contact-wrap .form-group textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    height: 177px;
    margin: 0;
}
.contact-wrap .btn-send{
    background-color: var(--color-link);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    padding: 7px 15px;
    font-size: 12px;
    border-radius: 5px;
}
.contact-wrap .form-bottom{
    display: flex;
    justify-content: end;
}



.footer .footer-top{
    padding: 50px 0;
    background-color: #F3F6F9;
}
.footer-top .logo{
    max-width: 100px;
}
.footer-top .desc{
    color: #9C9FAF;
    max-width: 500px;
    margin: 10px 0 20px;
}
.footer-top .view-map{
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    color: var(--color-link);
    padding: 5px 10px;
    text-transform: uppercase;
}
.footer-top .view-map .fa{
    margin-right: 5px;
}
.footer-link .title{
    color: #3B4A5E;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-link ul li{
    color: #9C9FAF;
    margin-bottom: 5px;
}
.footer-link ul li .fa{
    color: var(--color-link);
    margin-right: 10px;
}
.footer-bot{
    background-color: #106FDE;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
}
.btn-bar{
    display: none;
}
@media screen and (max-width: 1000px) {
    .container{
        padding: 0 15px;
    }
}
@media screen and (max-width: 990px) {
    .in4 .left{
        width: 50%;
    }
    .in4_wrap .form-send{
        max-width: 49%;
    }
    .col{
        width: 50%;
    }
    .box-provide-wrap .item{
        margin-bottom: 20px;
    }
    .box-video{
        display: flex;
        flex-wrap: wrap;
    }
    .box-video .bg-img{
        position: unset;
        order: 2;
        padding: 30px 15px 0;
    }
    .btn-bar{
        display: block;
    }
    .header_menu{
        display: none;
        position: absolute;
        top: 35px;
        left: 0;
        background-color: #fff;
        width: 100%;
    }
    .main-menu li{
        width: 100%;
    }
    .header-wrap{
        justify-content: space-between;
    }
    .main-menu li{
        padding: 10px 15px;
    }
    .btn-download{
        max-width: 100px;
        margin: 0 15px 15px;
    }
}
@media screen and (max-width: 768px) {
    .in4 .left{
        width: 100%;
    }
    .in4 .form-send{
        max-width: 100%;
    }
    .col{
        width: 100%;
    }
    .col-3{
        width: 100%;
    }
    .col-6{
        width: 100%;
    }
}